#toolbar li{
	display: inline-block;
}

/*
a:link, a:visited { color: #0066CC; text-decoration: none; font-weight: normal; } 
a:active, a:hover { color: #008400; text-decoration: underline; }
p { margin: 0px; padding: 0px; }

img { margin: 0px; padding: 0px; border: none; }


#menu_wrapper {
	width: 100%;
	height: 90px;
	margin: 0 auto;
	background: url(../images/menu.jpg) repeat-x;
}

#menu {
	width: 920px;
	height: 90px;
	margin: 0 auto;
	padding: 0 30px;
	
}

#menu ul {
	float: left;
	margin: 0px;
	padding: 0px;
	list-style: none;
}

#menu ul li {
	padding: 0px;
	margin: 0px;
	display: inline;
}

#menu ul li a {
	position: relative;
	float: left;
	width: 152px;
	display: block;
	height: 40px;
	padding: 50px 0 0 0;
	text-align: center;
	font-size: 14px;
	text-decoration: none;
	color: #333333;	
	font-weight: bold;
	outline: none;
}

#menu li a:hover, #menu li .current {
	color: #008400;
	background: url(../images/menu_hover.jpg) bottom no-repeat;
}
*/