ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; 
}

body {
  padding: 0;
  line-height: 1.7em;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 12px;
  color: #707b84;
  background: #3e464d;
}

#hfgl{
  font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
}

p { margin: 0px; padding: 0px; }

img { margin: 0px; padding: 0px; border: none; }

a:link, a:visited { color: #0066CC; text-decoration: none; font-weight: normal; } 

