ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; 
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.7em;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 12px;
  color: #707b84;
  background: #3e464d;
}
    
a:link, a:visited { color: #0066CC; text-decoration: none; font-weight: normal; } 
a:active, a:hover { color: #008400; text-decoration: underline; }

p { margin: 0px; padding: 0px; }

img { margin: 0px; padding: 0px; border: none; }

/* header */

#header_wrapper {
  width: 100%;
  background: #fff;
}

#header {
  clear: both;
  width: 960px;
  height: 200px;
  margin: 0 auto;
  padding: 0 10px;
  background: url(../images/header.jpg) no-repeat;
}

#header p {
  clear: both;
  padding-left: 50px;
  width: 500px;
  font-size: 18px;
  font-style: italic;
  line-height: 26px;
}

#header #site_title {
  float: left;
  padding-top: 10px;
  margin-left: 50px;
  margin-bottom: 10px;  
  width: 280px;
  height: 100px;
  text-align: center; 
  overflow: hidden; 
}

#site_title h1 {
  margin: 0px;
  padding: 15px 0 0 0;  
}

#site_title h1 a {
  font-size: 30px;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}

#site_title h1 a:hover {
  font-weight: bold;  
  text-decoration: none;
}

#site_title h1 a span {
  display: block;
  margin-top: 10px;
  margin-left: 5px;
  font-size: 14px;
  color: #999;
  font-weight: normal;
  letter-spacing: 2px;
}

/* end of header */