#quote{
  font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
  display: block;
  margin-bottom: 22px;  
}

.middle_connexion{
  position: fixed;  
}

#middle {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}



#middle #middleform{
    position: absolute;
    left: 0;
    right: 0;
    top: 40%;
    margin-top: -40px;
    text-align: center; 
}

#middle #middleform input[type=text], input[type=mail], input[type=password], input[type=submit]{
	color: #FFF;
	border: 1px solid rgba(0, 0, 0, 0.4);
	background-color: rgba(0, 0, 0, 0.4);
	height: 30px;
	outline: none;
	padding: 0 5px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1);
	-moz-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1);
	box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1); 
}

#middle #middleform input::-webkit-input-placeholder {
	color: rgba(255, 255, 255, 0.4);
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-ms-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s; 
}

#middle #middleform input:focus::-webkit-input-placeholder {
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0; 
}

#middle h1 {
    font-size: 50px;
    color: #FFF; 
}

#middle p {
    color: #FFF;
    font-size: 16px;
    padding: 20px;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7; 
}

#inscription{
  padding: 10px 15px;
  background: #4479BA;
  color: #FFF;

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;

  border: solid 1px #20538D;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);

  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);

  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;

  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}

#inscription:hover {
    background: #356094;
    border: solid 1px #2A4E77;
    text-decoration: none;
}

#inscription:active {
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);

    background: #2E5481;
    border: solid 1px #203E5F;
}@